

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/*General styles*/
body{
    display: grid;
    width: 100%;
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        " header header header"
        " hero hero hero"
        " . content ."
        " footer footer footer";
    margin: 0;  
    padding: 0;
    font-family: 'Nunito', sans-serif;
}



/*Header*/

header{
    grid-area: header;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 6;
}

.nnw-nav{
    display: grid;
    grid-template-areas: 
        " . logo logo ."
        " . links links ."
    ;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    grid-template-rows: 3rem minmax(2rem, auto);
    background-color: rgb(24, 25, 47);
}

/*Header - Logo*/
.nnw-logo{
    grid-area: logo;
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nnw-logo h1{
    justify-content: left;
    font-size: 1.2em;
    font-weight: lighter;
    color: #f5f5f5;
    margin: 0;
}
.nnw-logo-img{
    margin: 0 auto;
    height: 1.5em;
}

.nnw-ham{
    grid-area: ham;
    display: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.nnw-ham img{
    width: 2rem;
    height: 2rem;
}

/*Header - Navbar*/

.nnw-navigation{
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(auto-fit, 6rem);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.nnw-navigation li{
    text-align: center;
    list-style: none;
}

.nnw-navigation li a{
    color: #f5f5f5;
    font-size: 0.8em;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.nnw-navigation li a:after{
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: #FFFFFF;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.nnw-navigation li a:hover:after{
    width: 100%;
}

/* Hero*/

.nnw-hero{
    grid-area: hero;
}

.nnw-hero-title{
    display: block;
    position: relative;
    z-index: 3;
    font-size: 5em;
    font-weight: normal;
    color: #f5f5f5;
}

.nnw-hero-subtitle{
    display: block;
    position: relative;
    z-index: 3;
}

.nnw-main-banner{
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

/* Section general*/

.nnw-content{
    grid-area: content;
}

.nnw-section-title{
    text-align: center;
    margin: 2em 0;
    font-size: 3em;
    font-weight: lighter;
}

/* Gallery */

.nnw-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    grid-gap: 10px;
    padding: 0;
    margin: 0;
}

.nnw-gallery-card{
    width: 100%;
    height: 100%;
}

.nnw-gallery-img{
    width: 100%;
    height: 100%;
}

.nnw-gallery-img:hover{
    transform: scale(1.05);
    transition: all 0.8s ease;
    -webkit-transform: scale(1.05);
    -webkit-transition: all 0.8s ease;
}


/* Footer */

.nnw-footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: 30px;
    background-color: rgb(24, 25, 47);
}


.nnw-footer p{
    font-size: 1em;
    text-align: center;
    color: #f5f5f5;
}

@media only screen and (max-width: 650px){
    body{
        grid-template-areas: 
            "header"
            "hero"
            "content"
            "footer"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    header{
        position: relative;
    }

    .nnw-nav{
        grid-template-areas: 
            ". logo logo ham"
        ;
        grid-template-rows: 3rem auto;
    }

    .nnw-ham{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nnw-navigation{
        display: none;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto-fit, minmax(1rem, auto));
    }

    .nnw-gallery{
        grid-gap: 0px;
    }

    .nnw-gallery-img:hover{
        transform: none;
        -webkit-transform: none;
    }
    
    .nnw-footer{
        margin: 0;
    }
}